.skip {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        }
.skip:focus {
        position: static;
        width: auto;
        height: auto;
        }
body {background-color: #CBCBCB;}
.allbody {display: flex; margin-left: auto; margin-right: auto; max-width: 1200px; justify-content: center; flex-wrap: wrap;}
h1 {color: #4A4A4A; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
p {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
nav {background-color: #FFFFE3; padding: 10px; margin-bottom: 30 px;}
nav a {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;}
.largenav {display: flex; justify-content: space-between;}
nav a:hover {background-color: #6D8196;}
footer {background-color: #FFFFE3; padding: 0.09px;}
.headshot {padding: 10px; height: 15%; width: 15%; display: block; margin: 2em auto 2em auto; background-color: #6D8196; flex-basis: 50%;}
.exampleimage {padding: 10px; display: block; height: 15%; width: 15%; margin: 1em; background-color: #6D8196; flex-basis: 50%;}
.outercontainer {display: flex;}
@media only screen and (max-width: 760px) {
    nav a {display: block; width: 100%; padding: 5px;}
    nav span {display: none;}
}