.skip {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        }
.skip:focus {
        position: static;
        width: auto;
        height: auto;
        }
body {background-color: #CBCBCB;}
.allbody {display: flex; margin-left: auto; margin-right: auto; max-width: 1200px; justify-content: center; align-items: center; flex-wrap: wrap;}
.mainme {display: flex; justify-content: center; align-items: center;}
.headshot {padding: 10px; display: block; height: 25%; width: 25%; max-width: 100%; background-color: #6D8196; margin: 0 auto; order: 1; align-items: center; justify-content: center;}
.indexmain {order: 2;}
h1 {color: #4a4a4a; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center; padding: 0.15em; font-size: 2.3em;}
h2 {color: #4A4A4A; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center; font-size: 1.3em;}
p {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center; font-size: 20px; padding: 1em;}
nav {background-color: #FFFFE3; padding: 10px; margin-bottom: 30px;}
nav a, .middle {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;}
.largenav {display: flex; justify-content: space-between;}
nav a:hover {background-color: #6D8196;}
footer {background-color: #FFFFE3; padding: 0.09px; margin-top: 30px;}
.exampleimage {padding: 10px; display: block; height: 25%; width: 25%; margin: 1em; background-color: #6D8196; flex-basis: 50%;}


@media only screen and (max-width: 760px) {
    .largenav a {display: block; width: 100%; padding: 5px;}
    .largenav span {display: none;}
    .headshot {flex-wrap: wrap; min-width: 200px; height: auto;}
    .slideshow-container {min-width: 370px; height: auto;}
    .mainme {flex-wrap: wrap;}
    .secondimage {order: 1;}
    .firstword {order: 2;}
    .exampleimage {min-width: 370px; height: auto;}
}

* {box-sizing: border-box;}
.mySlides {display: none;}
.slidesimage {vertical-align: middle;}

.slideshow-container {
  max-width: 1750px;
  position: relative;
  margin: auto;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #6D8196;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}