body {background-color: #CBCBCB;}
h1 {color: #6D8196; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
p {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
nav a {color: #000000; font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;}
nav {background-color: #FFFFE3;}
nav a:hover {background-color: #6D8196;}
nav {padding: 10px;}
nav {margin-bottom: 30 px;}
@media only screen and (max-width: 760px) {
    nav a {display: block; width: 100%; padding: 5px;}
    nav span {display: none;}
}